.catalogo-container {
    padding: 60px 20px;
    background: #f8f8f8; 
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  }
  
  .catalogo-container h1 {
    font-size: 2.5rem; 
    color: #5C4033;
    margin-bottom: 40px;
    font-weight: bold;
    margin-top: -40px;
  }
  
  .filtro-genero {
    margin: 30px 0; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background: #ffffff; 
    padding: 15px; 
    border-radius: 5px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .filtro-genero label {
    margin-right: 15px; 
    font-size: 1rem;
  }
  
  .filtro-genero select {
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .libros-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 30px; 
    padding: 0 15px; 
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .libro-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .libro-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .libro-portada {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px; 
  }
  
  .libro-info {
    color: #5C4033;
    text-align: center;
  }
  
  .libro-info h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #5C4033;
  }
  
  .libro-info p {
    font-size: 0.9rem;
    color: #0a11db;
    margin: 5px 0;
    font-weight: bold;
  }
  
  .libro-card a {
    text-decoration: none;
    color: inherit;
  }
  
  .autor-label {
    color: #D32F2F;
    font-weight: bold;
  }
  
  .autor-nombre {
    color: #0a11db;
    padding-left: 5px;
  }
  