.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(83, 53, 28, 0.3); 
    background-color: #70b22d; 
    text-align: center;
    position: relative;
    border: 1px solid hsl#70b22d;; 
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: oblique bold 100% cursive;
}

.login-container:hover {
    box-shadow: 0 0 15px 3px #70b22d;; 
}

h2 {
    margin-bottom: 20px;
    color: white; 
    font-size: 28px; 
    font-weight: 700;
    font-family: oblique bold 100% cursive;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: oblique bold 100% cursive;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #70b22d;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    font-family: oblique bold 100% cursive;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #70b22d;
    background-color: #f9f4ef;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: oblique bold 100% cursive;
}

/* Placeholder de los inputs */
input::placeholder {
    font-family: oblique bold 100% cursive; /* Fuente para el placeholder */
    color: black; /* Color marrón claro para el placeholder */
    font-weight: 400;
}

/* Efecto al enfocar los campos de entrada */
input:focus {
    border-color: black;
    box-shadow: 0 0 8px #2e2e2e;
}

/* Estilo para el contenedor del enlace de "Olvidaste tu contraseña" */
.link {
    margin-top: 15px;
}


.link a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family: oblique bold 100% cursive;
}


.link a:hover {
    color: white ;
    text-decoration: underline;
}


.link a:hover::after {
    width: 75%;
    text-decoration: none;
}


.login-button {
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 0 4px 8px #3c240a;
    font-family: oblique bold 100% cursive;
}


.login-button:hover {
    background-color: #3c240a;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px #3c240a;
}


.error-message {
    color: #b71c1c;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
    font-weight: 500;
}
