.footer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin-top: 90px; /* Aumenta el margen superior para separar del contenido anterior */
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduce el espacio entre los elementos del logo */
}

.footer-logo p {
    color: #383838;
    font-size: 20px; /* Reduce el tamaño de la fuente */
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 15px; /* Reduce el espacio entre los enlaces */
    color: #252525;
    font-size: 12px; /* Reduce el tamaño de la fuente */
    text-align: center;
    padding: 0;
    margin: 2px 0; /* Reduce el margen */
}

.link-custom {
    color: inherit; /* Mantiene el color de texto original del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

.footer-links li {
    cursor: pointer;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

.footer-social-icon {
    display: flex;
    gap: 15px; /* Reduce el espacio entre los iconos */
    margin-top: 5px; /* Ajusta el margen superior */
}

.footer-icons-container {
    padding: 3px; /* Reduce el padding */
    background: white;
    border: 1px solid #f4f1ea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Agrega la transición para la animación */
}

.footer-icons-container:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Reduce el espacio entre los elementos */
    width: 100%;
    margin-top: 5px; /* Reduce el margen superior */
    color: #1a1a1a;
    font-size: 12px; /* Reduce el tamaño de la fuente */
}

.footer-copyright hr {
    width: 90%;
    border: none;
    border-radius: 10px;
    height: 1px; /* Reduce la altura del hr */
    background: black;
    margin: 5px 0; /* Ajusta el margen */
}
